@{
  ViewData["Title"] = "Repository";
}

@model RepositoryDetail

<div class="text-center">
    <div class="container border p-3 my-3">
        <div>
            <ul class="breadcrumb">
                @for(int i = 0; i < Model.PathDetails.Count; i++)
                {
                    if(i == Model.PathDetails.Count - 1)
                    {
                       
                    }
                    <li class="breadcrumb-item"> 
                            <a href="/repo/@Model.Id/tree/@Model.PathDetails[i].RootToPath">
                                 @Model.PathDetails[i].Path
                            </a>
                   </li>
                }
            </ul>
        </div>
        <div class="border">
            <ul class="list-group">
                @foreach(var file in Model.DirectoryContent.Where(f => f.IsDirectory))
                {
                    <li class="list-group-item">
                            <a href="/repo/@Model.Id/tree/@Model.Path/@file.Name" class="float-left">
                                <i class="fas fa-folder"></i>
                                @file.Name
                            </a>
                    </li>
                }
                @foreach(var file in Model.DirectoryContent.Where(f => !f.IsDirectory))
            {
            <li class="list-group-item">
                <a class="float-left">
                    <i class="fas fa-file"></i>
                    @file.Name
                </a>
            </li>
            }
            </ul>
        </div>
        
    </div>
    <div>

        <div class="btn-group">
             <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Clone
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" onclick="setClipboard(window.origin + '/@Model.Name')">Copy Link</a>
                </div>
            </div>
            <a type="button" class="btn btn-danger" asp-action="delete" asp-route-id="@Model.Id" asp-controller="Repo">
                    Delete
            </a>
        </div>
        </div>
</div>