<div>
    <h3 class="display-4">Create an empty repository</h3>
    <form method="POST">
        <div class="form-group">
            <label for="repoName">Repository Name</label>
            <input type="text" class="form-control" placeholder="Enter Repository Name"
                   id="name" name="RepoName"/>
            <small class="form-text text-muted">The repo name should only contain alphabet characters and number.</small>
        </div>
        <div class="form-group">
            <label for="repoName">Repository Description</label>
            <input type="text" class="form-control" placeholder="Enter Repository Description" id="description" 
                   name="RepoDescription"/>
            <small class="form-text text-muted">The description of repository.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>