@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Repository>

<div class="text-center">
    <h1 class="display-4">Welcome to UgitHub.</h1>
    <br />
    <div class="form-group">
        <a asp-action="Create">
            <input type="button" class="btn btn-success btn-lg float-right" value="Create" />
        </a>
    </div>
    <br />
    <table class='table table-bordered table-condensed table-striped table-hover'>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Descrption</th>
                <th scope="col">Last Modified</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Repository repo in Model)
            {
                <tr class="table-row" data-href="/repo/@repo.Id">
                    <td>@repo.Name</td>
                    <td>@repo.Description</td>
                    <td>@repo.LastModified.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
</div>
